/*CSS reset*/
body{
  margin: 0;
  padding: 0;
}
ol{
    list-style: none;
    margin:0;
  padding: 0;
}
a{
color: .rgb(57, 5, 55);
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
